@charset 'utf-8';

@import '~common/styles/index';

body {
	background: url('./assets/background.jpg');
	background-size: cover;
}

.flex {
	display: flex;
}

.cssgradients .flex {
	background-image: linear-gradient(cornflowerblue, rebeccapurple);
}
